---
title: A Picture of Two Rabbits
date: 2015-05-18 11:57 UTC
image: 2015-05-18-a-picture-of-two-rabbits
tags: India’s notebook
---

section
  p India: This is a picture of two rabbits. This guy doesn’t really like this guy because… and this
    guy doesn’t really like this guy because he’s kind of mean, and really naughty. But these are
    rabbits… they live together but they don’t really like each other. It’s kind of like  <em>Ren
    and Stimpy</em>, they’re very fond of each other but they get mad at each other. They give each
    other  spankings —
  p समाधिBot: They do?
  p India: Yeah if they do something wrong, like to the meals, or what they’re going to sit on, or
    to the furniture…
  p समाधिBot: I can think of a couple other people like that.
  p India: Mmm-hmm…
  p समाधिBot: How come they have four arms and two legs each?
  p India: ‘Cos Taji really wanted four arms, because he wanted them to have twice the smack in
    their arms.
