---
title: Just Walking Under a Giant Flower
date: 2015-05-20 00:11 UTC
tags: "India’s notebook"
---
.image = article_img '2015-05-20-just-walking-under-a-giant-flower'

section
  p India: Thisss… is a picture of Miles just walking under a giant flower, because he’s been
    shrunken, and now he’s just walking around looking for a carrot, because he bought himself a pet
    were-rabbit, and he’s looking for a carrot to give to it, so he’s just walking around trying to
    tell which one’s a carrot or not, and he needs his were-rabbit to help him, and his were-rabbit
    is trailing behind…
