article
  border-bottom: 1px solid $bg-med
  padding-bottom: 1.4rem
  margin-bottom: 1rem

  h2
    a
      color: $text-dark
      &:hover
        color: $text-light
    &:not(:first-child)
      border-top: 1px solid $bg-med
      margin-top: 3rem
      padding-top: 2rem

  .image
    margin: 1.5rem auto
    max-width: 1088px

  .tags, .date
    +font-copy
    font-size: 1rem
    font-style: italic
    text-align: center
    &.date
      opacity: .5

  img
    border: 10px solid white
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1)
    height: 100%
    width: 100%

  section
    margin: 0 auto
    max-width: 600px
    p
      text-align: left
    p
      margin: 1em

  .index
    text-align: center
    img
      max-height: 100%
      max-width: 100%

    .image
      max-width: 540px
