footer
  +outer-container
  font-size: .8rem
  margin-top: 1.2rem
  opacity: 0.6
  text-align: center

  ol
    list-style: none
    margin-top: 0.5rem
    padding: 0

  section
    text-align: left

  .copy
    opacity: 0.6
    padding: 1rem 0

  .feed img
    height: 24px
    width: 24px

  .table
    display: inline-block
    margin-top: 16px

  +tablet
    .row
      display: table-row

    .table
      border-collapse: separate
      display: table
      margin: 0 auto

    section
      display: table-cell
      padding: 0 24px
      h3
        white-space: nowrap
