footer
  +outer-container
  font-size: .8rem
  margin-top: 40px
  opacity: 0.6
  text-align: center

  ol
    list-style: none
    padding: 0

  .copy
    margin: 20px 0 0

  +tablet
    section
      display: inline-block
      width: 33.3%
